:root {
  --cinza: #EBEBEC;
  --preto: #27272727;
  --rosa: #F86197;
  --verde: #36B59F;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}